<div class="about-div">
	<h4>
		Hey! I'm Sharvani. I work as a software developer in Bangalore. I love to code and write. 
	</h4>
	<h5>Contact Me:</h5>
	<div>
		<a href="https://www.facebook.com/sharvani.hs" target="_blank"><img src="/static/icons/facebook-icon.png"></a>
		<a href="https://www.linkedin.com/in/sharvani-hs-24bb0193" target="_blank"><img src="/static/icons/linkedin-icon.png"></a>
		<a href="https://www.goodreads.com/user/show/2822748-sharvani" target="_blank"><img src="/static/icons/goodreads-icon.png"></a>
		<a href="mailto:sharvani198@gmail.com"><img src="/static/icons/gmail-icon.png"></a>
	</div>	
</div>
