<!DOCTYPE html>
<html>
<head>
	<title>YetAnotherBlog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% block meta_tags %}
	{% endblock meta_tags %}
	<meta name="keywords" content="sharvani sharvanihs yetanotherblog blog developer india">
	<meta name="description" content="A Blog by Sharvani H S">
	<meta name="robots" content="noindex,nofollow">
    <link href="/static/blog/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/blog/css/base.css">
	<script type="text/javascript" src="/static/blog/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/blog/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/blog/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/blog/js/app.js"></script>
    <script type="text/javascript" src="/static/blog/js/google-analytics.js"></script>
</head>
<body ng-app="blogs">
<div id="fb-root"></div>
<script type="text/javascript" src="/static/blog/js/facebook-share.js"></script>
<div class="container">
	<div class="page-header row">
	<div class="col-md-10 col-sm-10 col-xs-10">
		<a href="/">
			<img src="/static/blog/yetanotherblog.png">
		</a>
		
	</div>
		<div class="col-md-1 col-sm-1 picture-me">
			<img src="/static/blog/me.png" class="img-circle" >			
		</div>
	</div>
	<div class="row" ng-controller="BlogController">
		<div class="col-md-2">
			{% block side_div %}
			{% endblock side_div %}
		</div>
		<div class="col-md-8">
			{% block content_div %}
			{% endblock content_div %}
		</div>
		<div class="col-md-2">
			{% block about_div %}
			{% endblock about_div %}
		</div>
	</div>
</div>
</body>
</html>