{% extends "base.html" %} 
{% block side_div %}
<div class="side-div" >
	<div class="topics-side-div">
		<button class="btn btn-default" ng-click="toggleFunc()" id="topics-button">Topics</button>
		<h4 id="topics-text">Topics</h4>
		<div class="list-group" ng-show="showMe" id="topics-list">
			<button ng-click="filterBlogs('all')" class="list-group-item"><span class="badge">{{total}}</span>All</button>
			{% for t in topics %}
				<button ng-click="filterBlogs('{{t.topic}}')" class="list-group-item"><span class="badge">{{t.count}}</span>{{t.topic}}</button>
			{% endfor %}
		</div>	
	</div>
	<div class="sort-side-div">
		<button class="btn btn-default" ng-click="toggleFunc()"  id="sort-button">Sort By</button>
		<h4 id="sort-text">Sort By </h4>
		<div class="list-group" ng-show="showMe" id="sort-list">
			<button class="list-group-item">Date
				<span ng-click="sortBlogs('date','desc')"  class="badge sort-order">&gt;</span>
				<span ng-click="sortBlogs('date','asc')" class="badge sort-order">&lt;</span>
			</button>
			<button class="list-group-item">Alphabetical
				<span ng-click="sortBlogs('alpha','desc')"  class="badge sort-order">&gt;</span>
				<span ng-click="sortBlogs('alpha','asc')" class="badge sort-order">&lt;</span>
			</button>
		</div>	
	</div>
</div>
{% endblock side_div %}

{% block content_div %}
{% verbatim %} <!-- Conflicting template tags Django and Angular !-->
<div class="blogs">
	<div ng-repeat="b in filteredBlogs">
		<a href="/blogpost/{{b.fields.title | titleUrl}}/{{b.pk}}">
			<div class="blog-div">
				<h3>{{b.fields.title}}</h3>
				<h4>{{b.fields.date|date}} | {{b.fields.topic}}</h4>
			</div>
		</a>
	</div>
</div>
{% endverbatim %}	
{% endblock content_div %}

{% block about_div %}
	{% include "about.html" %}
{% endblock about_div %}
