body {
	font-family: 'Ubuntu Condensed', sans-serif;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color:inherit;
}
.fixed-side-div{
	position: fixed;
	left: 4em;
	width: 15%;
}
.text-content{
	font-size: 1.5em;
	white-space: pre-wrap;
}
.list-group-item{
	margin-bottom: 1em;
}
#topics-button, #sort-button{
	display:none;
}
#topics-text, #sort-text{
	display: block;
}
.blog-div{
	border: 0.5px solid lightgray;
	margin-bottom: 1.5em;
	border-radius: 5px;
	padding-left: 3em;
	padding-bottom: 1em;
}
.blog-div > h4 {
	color: #777;
}
#sort-list > button {
	cursor: default;
}
.sort-order{
	z-index: 10;
	cursor: pointer;
}
.sort-order:hover{
	opacity: 0.8;
}
.form-control{
	margin-bottom: 2px;
}
.pluginButtonContainer {
	background-color: black !important;
}
@media screen and (max-width:650px){
	.fixed-side-div{
		position: static;
		margin-top: 0%;
	}
	.picture-me {
		display: inline;
	}
	.about-div{
		font-size: 0.5%;
	}
	.side-div {
		display: none;
	}
}